language: c
addons: 
  apt: 
    packages: [gcc-6, g++-6, gcc-5, g++-5, gcc-4.9, g++-4.9, clang-3.6, gcc-mingw-w64-x86-64, binutils-mingw-w64-x86-64]
    sources: 
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.6
cache: 
  directories: 
    - .cmakeify
    - ~/.gradle
script: 
  - ./cmakeify
